<?xml version="1.0" encoding="utf-8"?>
<configuration> 
  <appSettings>
    <add key="WebPath" value="D:\Dev\VisualShow3DLight\VisualShow3DLight\Web" />
    <add key="StencilPath" value="D:\Dev\VisualShow3DLight\VisualShow3DLight\Gabarits" />
    <add key="TemplatePath" value="D:\Dev\VisualShow3DLight\VisualShow3DLight\Template" />
  </appSettings>
</configuration>